{% extends "updown/base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                This file is protected!
            </h1>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <div class="field is-grouped is-grouped-centered">
                        <form method="post">
                            {% csrf_token %}
                            {% if not status == 410 %}
                                <div class="field">
                                    <label class="label"> {{ form.password.label }}</label>
                                    <div class="control has-icons-left">
                                        {{ form.password }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        {% if form.errors.password %}
                                            {% for error_key, error_value in form.errors.items %}
                                            <span class="is-small">
                                                {{ error_value }}
                                            </span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <input type="submit" class="button is-link" value="Submit"/>
                            {% else %}
                                {{ form.non_field_errors }}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
