{% extends "updown/base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="subtitle is-3">
                Upload
            </h2>
            <div class="columns">
                <div class="column">
                    <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal" style="text-align: left;">
                                <label class="label"> {{ form.file.label }}</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="file has-name">
                                        <div class="control">
                                            <label class="file-label">
                                                {{ form.file }}
                                                <span class="file-cta">
                                                    <span class="file-icon">
                                                        <i class="fas fa-upload"></i>
                                                    </span>
                                                    <span class="file-label">
                                                        Choose a file…
                                                    </span>
                                                </span>
                                                <span class="file-name" id="filename"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal" style="text-align: left;">
                                <label class="label"> {{ form.password.label }}</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <p class="control is-expanded has-icons-left">
                                        {{ form.password }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </p>
                                    <p class="help">Protect your file with an optional password</p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal" style="text-align: left;">
                                <label class="label"> {{ form.expires_at.label }}</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <p class="control is-expanded has-icons-left has-icons-right">
                                        {{ form.expires_at }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                        <p class="help">Set an optional expiration date</p>
                                        {% if form.errors.expires_at %}
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal" style="text-align: left;">
                                <label class="label"> {{ form.max_downloads.label }}</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <p class="control has-icons-left has-icons-right">
                                        {{ form.max_downloads }}
                                    </p>
                                    <p class="help">Restrict number of downloads</p>
                                    {% if form.errors.max_downloads %}
                                        <span class="is-small">
                                            {{ form.errors.max_downloads.0 }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if user.is_superuser %}
                            <div class="field is-horizontal">
                                <div class="field-label is-normal" style="text-align: left;">
                                    <label class="label">{{ form.owner.label }}</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select required name="{{ form.owner.name }}"
                                                        id="{{ form.owner.id_for_label }}">
                                                    {% for id, owner in form.fields.owner.choices %}
                                                        <option value="{{ id }}" {% if id == form.owner.initial %}
                                                                selected {% endif %}>{{ owner }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <input type="submit" class="button is-link" value="Submit"/>
                                    </div>
                                    <div class="control">
                                        <input type="reset" class="button is-text" value="Cancel"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="subtitle is-3">
                Download ({{ updownfile_list|length }})
            </h2>
            {% if updownfile_list %}
                {% for updownfile in updownfile_list %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <span class="icon is-large">
                                    <i class="fas fa-3x fa-file"></i>
                                </span>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            {{ updownfile }}
                                        </strong>
                                        <small>@{{ updownfile.created_at }}</small>
                                        <small>({{ updownfile.owner.username }})</small>
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        {% if not updownfile.is_expired %}
                                            <a class="level-item" href="{% url "download" updownfile.slug %}">
                                                <span class="icon is-small">
                                                    <i class="fas fa-arrow-down" title="download"></i>
                                                </span>
                                            </a>
                                        {% endif %}
                                        {% if updownfile.is_password_protected %}
                                            <span class="level-item">
                                                <span class="icon is-small">
                                                    <i class="fas fa-lock" title="password protected"></i>
                                                </span>
                                            </span>
                                        {% endif %}
                                        {% if updownfile.can_expire %}
                                            <span class="level-item">
                                                <span class="icon is-small {% if updownfile.is_expired %}has-text-danger{% endif %}">
                                                    <i class="fas fa-clock"
                                                       title="expiry date: {{ updownfile.expires_at|default_if_none:'never' }}
remaining downloads: {{ updownfile.remaining_downloads|default_if_none:"∞" }}"></i>
                                                </span>
                                            </span>
                                        {% endif %}
                                        <a href="{% url "delete" updownfile.slug %}" class="level-item">
                                            <span class="icon is-small">
                                                <i class="fas fa-trash-alt" title="delete"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            {% else %}
                <div class="columns">
                    <div class="column is-half is-offset-one-quarter">
                        No files.
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
